p Your Daily Reminders!
br
b Here are your reminders for the upcoming week:
- upcoming_reminders.each do |reminder|
  p= "#{reminder.relationship.name} is due on #{reminder.due_date.strftime("%b %e")}"
b Your late on the following reminders:
- late_reminders.each do |reminder|
  p= "#{reminder.relationship.name} was due on #{reminder.due_date.strftime("%b %e")}"
